
<div class="col-md-4">
    <div class="grid-list-wrapper">
        <img src="{{fields.field_image.content}}" alt="chef-image">
        <h3>{{fields.title.content}}</h3>
        <p>{{fields.field_designation.content}}</p>
    </div>    
    <div class="about-chef">{{fields.body.content}}</div>
    <div class="chef_social_media chef-social-icons">
        {{fields.field_social_media_l.content}}
    </div>
</div>
                