                         
<section class="video">
    <div class="video-block">
        <div class="video_bg" style="background-image: url('{{file_url(content.field_background_image['#items'].entity.uri.value)}}') ;background-position: bottom;background-repeat: no-repeat;background-size: cover;height:520px;">
            <div class="video-wrapper item-wrapper">
                {{content.field_home_slider_title.0}}
                <a data-fancybox="video-gallery" data-src="{{content.field_button_link.0['#url']}}">
                    <div class="svg-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><g data-name="Group 40175" transform="translate(17955.531 7322)"><path data-name="Path 39479" d="M134,14a50,50,0,1,0,50,50A50.045,50.045,0,0,0,134,14Zm0,95.789A45.789,45.789,0,1,1,179.789,64,45.822,45.822,0,0,1,134,109.789Z" transform="translate(-18039.531 -7336)" fill="#16161b"></path><path class="video-icon" data-name="Path 39480" d="M309.449,181.39l-29.426-18.338a4.025,4.025,0,0,0-6.184,3.412v36.782a4.025,4.025,0,0,0,6.184,3.412l29.426-18.338a4.088,4.088,0,0,0,0-6.93Z" transform="translate(-18193.963 -7456.804)" fill="#16161b"></path></g>    
                        </svg>
                    </div>
                </a>
            </div>    
        </div>
    </div>
</section>         
                        

 {# <div class="item mb-4">
    <a data-fancybox="video-gallery" data-src="{{content.field_button.0['#url']}}" class="play-btn">{{content.field_educational_video_thumbnai.0}}</a>  #}
    {# <iframe src="{{content.field_button.0['#url']}}" class="myIframe" frameborder="0" allowfullscreen></iframe> #}
     {# {{content.field_educational_video_thumbnai.0	}} #}
    {# {{content.field_educational_video_thumbnai.0}}
    <a data-fancybox="video-gallery" data-src="{{content.field_button.0['#url']}}" class="play-btn"><i class="fa-solid fa-circle-play"></i>{{content.field_button.0['#title']}}</a> 
  </div> #}



            