
<div class="col-md-4">
    <div class="rooms-style-1">
        <div class="rooms-grid-1-wrapper">
            <img src="{{fields.field_multiple_image.content}}" alt="">
            <div class="rooms-detail-wrap">
                <div class="room-title">
                    <h3>{{fields.title.content}}</h3>
                    <p>{{fields.body.content}}</p>
                    <div class="multiple-icons">{{fields.field_multiple_icons.content}}</div>
                </div>
                <div class="roms-price">
                    <span>{{fields.field_price.content}}</span>
                    <p>/{{fields.field_price_plan.content}}</p>
                </div>
            </div>    
        </div>
    </div>
</div>
