<div class="room-lists room-list-sidebar"> 
    <div class="row">
        <div class="col-md-6 img">
            <div class="rooms-grid-1-wrapper">
                <img src="{{fields.field_multiple_image.content}}" alt="">
            </div>
        </div>     
        <div class="col-md-6">
            <div class="room-list">
                <div class="rooms-grid-1-wrapper">
                    <div class="rooms-detail">
                        <div class="rooms-title">
                            <h3>{{fields.title.content}}</h3>
                        </div>
                        <div class="guest-feet">
                        <div class="guest">
                                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
                                    <path id="Icon_material-person" data-name="Icon material-person" d="M38,38A16,16,0,1,0,22,22,16,16,0,0,0,38,38Zm0,8C27.32,46,6,51.36,6,62v8H70V62C70,51.36,48.68,46,38,46Z" transform="translate(-6 -6)" fill="#686868"/>
                                </svg>
                                <p>{{fields.field_guest.content}}</p>
                            </div>
                            <div class="feet">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="59.077" height="64" viewBox="0 0 59.077 64">
                                    <defs>
                                        <clipPath id="clip-path">
                                        <rect id="Rectangle_1668" data-name="Rectangle 1668" width="59.077" height="64" transform="translate(455 2195)" fill="#686868"/>
                                        </clipPath>
                                    </defs>
                                    <g id="Mask_Group_4" data-name="Mask Group 4" transform="translate(-455 -2195)" clip-path="url(#clip-path)">
                                        <g id="selection" transform="translate(455 2198.557)">
                                        <g id="Group_37301" data-name="Group 37301">
                                            <path id="Path_37938" data-name="Path 37938" d="M57.562,11.67a1.488,1.488,0,0,0,1.515-1.459V1.459A1.487,1.487,0,0,0,57.562,0H48.473a1.488,1.488,0,0,0-1.515,1.459V4.376H12.118V1.459A1.488,1.488,0,0,0,10.6,0H1.515A1.488,1.488,0,0,0,0,1.459v8.752A1.488,1.488,0,0,0,1.515,11.67h3.03v33.55H1.515A1.487,1.487,0,0,0,0,46.678V55.43a1.488,1.488,0,0,0,1.515,1.459H10.6a1.488,1.488,0,0,0,1.515-1.459V52.513h34.84V55.43a1.488,1.488,0,0,0,1.515,1.459h9.089a1.488,1.488,0,0,0,1.515-1.459V46.678a1.487,1.487,0,0,0-1.515-1.459h-3.03V11.67ZM51.5,45.219h-3.03a1.488,1.488,0,0,0-1.515,1.459V49.6H12.118V46.678A1.488,1.488,0,0,0,10.6,45.219H7.574V11.67H10.6a1.488,1.488,0,0,0,1.515-1.459V7.293h34.84v2.917a1.488,1.488,0,0,0,1.515,1.459H51.5v33.55Z" fill="#686868"/>
                                        </g>
                                        </g>
                                    </g>
                                </svg>
                                <p>{{fields.field_feet.content}}</p>
                            </div>
                        </div>
                        <div class="discription">{{fields.body.content}}</p></div>
                        <div class="price-read">
                            <div class="roms-price">
                               <span> {{fields.field_price.content}}</span>
                                <p>/{{fields.field_price_plan.content}}</p>
                            </div>
                            <div class="read">
                                <a href="{{fields.view_node.content}}" title="{{fields.view_node_1.content}}">{{fields.view_node_1.content}}</a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="59" height="34.043" viewBox="0 0 59 34.043">
                                    <g id="arrow-right_1_" data-name="arrow-right (1)" transform="translate(2.5 3.521)">
                                        <path id="Path_28" data-name="Path 28" d="M0,0H52.786" transform="translate(0 13.5)" fill="none" stroke="#333239" stroke-linecap="round" stroke-width="5"/>
                                        <path id="Path_3" data-name="Path 3" d="M0,27,16.2,13.5,0,0" transform="translate(37.804 0)" fill="none" stroke="#333239" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                                    </g>
                                </svg>
                            </div>
                        </div>    
                    </div>    
                </div>
            </div>
        </div>
    </div>    
</div>