                 
<section class="form check-availability-form">
    <form {{attributes}}>
        {# {{element.elements.name}} #}
        <div class="input-wrapper">
            {{element.elements.check_in_date}}
            <svg xmlns="http://www.w3.org/2000/svg" width="59.733" height="64" viewBox="0 0 59.733 64">
                <path id="Icon_awesome-calendar-alt" data-name="Icon awesome-calendar-alt" d="M0,58a6.211,6.211,0,0,0,6.4,6H53.333a6.211,6.211,0,0,0,6.4-6V24H0ZM42.667,33.5a1.557,1.557,0,0,1,1.6-1.5H49.6a1.557,1.557,0,0,1,1.6,1.5v5A1.557,1.557,0,0,1,49.6,40H44.267a1.557,1.557,0,0,1-1.6-1.5Zm0,16a1.557,1.557,0,0,1,1.6-1.5H49.6a1.557,1.557,0,0,1,1.6,1.5v5A1.557,1.557,0,0,1,49.6,56H44.267a1.557,1.557,0,0,1-1.6-1.5ZM25.6,33.5A1.557,1.557,0,0,1,27.2,32h5.333a1.557,1.557,0,0,1,1.6,1.5v5a1.557,1.557,0,0,1-1.6,1.5H27.2a1.557,1.557,0,0,1-1.6-1.5Zm0,16A1.557,1.557,0,0,1,27.2,48h5.333a1.557,1.557,0,0,1,1.6,1.5v5a1.557,1.557,0,0,1-1.6,1.5H27.2a1.557,1.557,0,0,1-1.6-1.5ZM8.533,33.5a1.557,1.557,0,0,1,1.6-1.5h5.333a1.557,1.557,0,0,1,1.6,1.5v5a1.557,1.557,0,0,1-1.6,1.5H10.133a1.557,1.557,0,0,1-1.6-1.5Zm0,16a1.557,1.557,0,0,1,1.6-1.5h5.333a1.557,1.557,0,0,1,1.6,1.5v5a1.557,1.557,0,0,1-1.6,1.5H10.133a1.557,1.557,0,0,1-1.6-1.5ZM53.333,8h-6.4V2A2.076,2.076,0,0,0,44.8,0H40.533A2.076,2.076,0,0,0,38.4,2V8H21.333V2A2.076,2.076,0,0,0,19.2,0H14.933A2.076,2.076,0,0,0,12.8,2V8H6.4A6.211,6.211,0,0,0,0,14v6H59.733V14A6.211,6.211,0,0,0,53.333,8Z" fill="#e4a853"/>
            </svg>
        </div>    
        <div class="input-wrapper">
            {{element.elements.check_out_date}}
            <svg xmlns="http://www.w3.org/2000/svg" width="59.733" height="64" viewBox="0 0 59.733 64">
                <path id="Icon_awesome-calendar-alt" data-name="Icon awesome-calendar-alt" d="M0,58a6.211,6.211,0,0,0,6.4,6H53.333a6.211,6.211,0,0,0,6.4-6V24H0ZM42.667,33.5a1.557,1.557,0,0,1,1.6-1.5H49.6a1.557,1.557,0,0,1,1.6,1.5v5A1.557,1.557,0,0,1,49.6,40H44.267a1.557,1.557,0,0,1-1.6-1.5Zm0,16a1.557,1.557,0,0,1,1.6-1.5H49.6a1.557,1.557,0,0,1,1.6,1.5v5A1.557,1.557,0,0,1,49.6,56H44.267a1.557,1.557,0,0,1-1.6-1.5ZM25.6,33.5A1.557,1.557,0,0,1,27.2,32h5.333a1.557,1.557,0,0,1,1.6,1.5v5a1.557,1.557,0,0,1-1.6,1.5H27.2a1.557,1.557,0,0,1-1.6-1.5Zm0,16A1.557,1.557,0,0,1,27.2,48h5.333a1.557,1.557,0,0,1,1.6,1.5v5a1.557,1.557,0,0,1-1.6,1.5H27.2a1.557,1.557,0,0,1-1.6-1.5ZM8.533,33.5a1.557,1.557,0,0,1,1.6-1.5h5.333a1.557,1.557,0,0,1,1.6,1.5v5a1.557,1.557,0,0,1-1.6,1.5H10.133a1.557,1.557,0,0,1-1.6-1.5Zm0,16a1.557,1.557,0,0,1,1.6-1.5h5.333a1.557,1.557,0,0,1,1.6,1.5v5a1.557,1.557,0,0,1-1.6,1.5H10.133a1.557,1.557,0,0,1-1.6-1.5ZM53.333,8h-6.4V2A2.076,2.076,0,0,0,44.8,0H40.533A2.076,2.076,0,0,0,38.4,2V8H21.333V2A2.076,2.076,0,0,0,19.2,0H14.933A2.076,2.076,0,0,0,12.8,2V8H6.4A6.211,6.211,0,0,0,0,14v6H59.733V14A6.211,6.211,0,0,0,53.333,8Z" fill="#e4a853"/>
            </svg>
        </div>    
        <div class="input-wrapper">
            {{element.elements.rooms}}
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="25.2" viewBox="0 0 45 25.2">
                <path id="Icon_ionic-ios-arrow-forwarde" data-name="Icon ionic-ios-arrow-forward" d="M28.85,28.688,12.172,11.673a3.25,3.25,0,0,1,0-4.542,3.13,3.13,0,0,1,4.462,0l18.9,19.279a3.259,3.259,0,0,1,.092,4.435L16.646,50.258a3.122,3.122,0,0,1-4.462,0,3.25,3.25,0,0,1,0-4.542Z" transform="translate(51.196 -11.246) rotate(90)" fill="#e4a853"/>
            </svg>
        </div>    
        <div class="input-wrapper">
            {{element.elements.guest}}
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="25.2" viewBox="0 0 45 25.2">
                <path id="Icon_ionic-ios-arrow-forwarde" data-name="Icon ionic-ios-arrow-forward" d="M28.85,28.688,12.172,11.673a3.25,3.25,0,0,1,0-4.542,3.13,3.13,0,0,1,4.462,0l18.9,19.279a3.259,3.259,0,0,1,.092,4.435L16.646,50.258a3.122,3.122,0,0,1-4.462,0,3.25,3.25,0,0,1,0-4.542Z" transform="translate(51.196 -11.246) rotate(90)" fill="#e4a853"/>
            </svg>    
        </div>     
         <div class="input-wrapper">
            {{element.elements.phone_number}}
            <svg xmlns="http://www.w3.org/2000/svg" width="69.63" height="69.632" viewBox="0 0 69.63 69.632">
                <path id="phone" d="M54.96,41.568v7.956a5.31,5.31,0,0,1-5.793,5.3,52.655,52.655,0,0,1-22.932-8.142A51.766,51.766,0,0,1,10.291,30.775,52.417,52.417,0,0,1,2.133,7.782,5.308,5.308,0,0,1,7.421,2h7.972a5.311,5.311,0,0,1,5.315,4.561,34,34,0,0,0,1.86,7.452,5.3,5.3,0,0,1-1.2,5.6L18,22.978A42.475,42.475,0,0,0,33.941,38.89l3.375-3.368a5.322,5.322,0,0,1,5.607-1.193,34.175,34.175,0,0,0,7.467,1.856A5.307,5.307,0,0,1,54.96,41.568Z" transform="matrix(0.966, 0.259, -0.259, 0.966, 14.609, -0.028)" fill="none" stroke="#e4a853" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
            </svg>   
        </div>                
        <div class="btn-act btn-reserve">{{element.elements.actions}}</div>
     {{ element.form_token }}
    {{ element.form_build_id }}
    {{ element.form_id }}
    
    </form>
</section>
                   