<form {{attributes}}>
    <div class="input-group">
        {{element.elements.your_mail}}
        {{ element.elements.actions }}
    </div>
     {{ element.form_token }}
    {{ element.form_build_id }}
    {{ element.form_id }}
</form>