<section class="rooms rooms-featured">
    <div class="container">
        <div class="row">
            <div class="title-description">
                <h2>{{content.field_title.0}}</h2>
                {{content.field_description.0}}
            </div>    
            <div class="featured-room-wrapper">
                {{content.field_rooms_style}}
            </div>
            <div class="btn-link btn-links">
                <a href="{{content.field_button_link.0['#url']}}">{{content.field_button_link.0['#title']}}</a>
            </div>    
        </div>
    </div>        
</section>