<section class="rooms-style2">
        <div class="container">
            <div class="tag-title">
                <span class="tagline">{{content.field_tag_line.0}}</span>
                <h2 class="sec-title">{{content.field_title.0}}</h2>
            </div>
            {{content.field_rooms_style_2}}
            <div class="link link-btn"> 
                <a href="{{content.field_button_link.0['#url']}}" tabindex="-1">{{content.field_button_link.0['#title']}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="59" height="34.043" viewBox="0 0 59 34.043">
                        <g id="arrow-right_1_" data-name="arrow-right (1)" transform="translate(2.5 3.521)">
                            <path id="Path_28" data-name="Path 28" d="M0,0H52.786" transform="translate(0 13.5)" fill="none" stroke="#333239" stroke-linecap="round" stroke-width="5"></path>
                            <path id="Path_3" data-name="Path 3" d="M0,27,16.2,13.5,0,0" transform="translate(37.804 0)" fill="none" stroke="#333239" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"></path>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
</section>
