
<div class="career">
    <div class="career-grid">
        <h3>{{fields.title.content}}</h3>
        <div class="career_detail">
            <div class="jobtype full">
                {{fields.field_job_type_icon.content}}
                <p>{{fields.field_job_type.content}}</p>
            </div>    
            <div class="jobtype">
                {{fields.field_location_icon.content}}
                <p>{{fields.field_location.content}}</p>
            </div> 
        </div>
    </div>
    <div class="btn-link btn-links">
        <a href="{{fields.view_node.content}}" title="{{fields.view_node_1.content}}">{{fields.view_node_1.content}}</a>
    </div>
</div>
