
{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
 
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
    {% if menu_level == 0 %}
      <ul class="navbar-nav">
          {% if items %}
            {% for item in items %}
              {% set active = item.in_active_trail ? 'active': '' %}
              {% if item.below %}
                {% if item.url.getOption('attributes').link_type in 'mega_menu' %}
                <li class="nav-item element {{active}}">
                  <a class="nav-link" title="{{ item.title }}" href="{{ item.url }}" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">{{ item.title }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="75" height="150" viewBox="0 0 75 150">
                        <path data-name="Path 39258" d="M334.97,186.4,263.49,113.2a1.735,1.735,0,0,0-1.913-.392,1.777,1.777,0,0,0-1.079,1.639v20.163a1.688,1.688,0,0,0,.521,1.247l50.613,51.835-50.609,51.8a1.834,1.834,0,0,0-.521,1.247v20.163a1.775,1.775,0,0,0,1.079,1.639,1.679,1.679,0,0,0,1.878-.392L334.976,188.9a1.811,1.811,0,0,0,.522-1.247,1.749,1.749,0,0,0-.522-1.247Z" transform="translate(-260.498 -112.669)" fill="#111"/>
                    </svg>
                  </a>
                  <ul class="dropdown-menu">
                  {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                  </ul>
                </li>
                {% else %}
                <li class="nav-item {{ active }}">
                  <a class="nav-link" title="{{ item.title }}" href="{{ item.url }}" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">{{ item.title }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="75" height="150" viewBox="0 0 75 150">
                        <path data-name="Path 39258" d="M334.97,186.4,263.49,113.2a1.735,1.735,0,0,0-1.913-.392,1.777,1.777,0,0,0-1.079,1.639v20.163a1.688,1.688,0,0,0,.521,1.247l50.613,51.835-50.609,51.8a1.834,1.834,0,0,0-.521,1.247v20.163a1.775,1.775,0,0,0,1.079,1.639,1.679,1.679,0,0,0,1.878-.392L334.976,188.9a1.811,1.811,0,0,0,.522-1.247,1.749,1.749,0,0,0-.522-1.247Z" transform="translate(-260.498 -112.669)" fill="#111"/>
                    </svg>
                  </a>
                  <ul class="dropdown-menu">
                    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                  </ul>
                </li>
                {% endif %}
              {% else %}
                <li class="nav-item {{ active }}">
                  <a class="nav-link" title="{{ item.title }}" href="{{ item.url }}">{{ item.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        </ul>
    {% elseif menu_level == 1 %}
      {% if items %}
          {% for item in items %}
            {% if item.below %}
              {% if item.url.getOption('attributes').link_type in 'mega_menu_1' %}
                <li class="element-div">
                <h3>{{ item.title }}</h3>
                <div class="menu-custom-div">
                  <ul class="list-unstyled">
                    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                  </ul>
                  </div>
                </li>
              {% else %}
              <li class="submenu-1">
              <a class="dropdown-item" title="{{ item.title }}" href="{{ item.url }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ item.title }}
                 <svg xmlns="http://www.w3.org/2000/svg" width="75" height="150" viewBox="0 0 75 150">
                      <path data-name="Path 39258" d="M334.97,186.4,263.49,113.2a1.735,1.735,0,0,0-1.913-.392,1.777,1.777,0,0,0-1.079,1.639v20.163a1.688,1.688,0,0,0,.521,1.247l50.613,51.835-50.609,51.8a1.834,1.834,0,0,0-.521,1.247v20.163a1.775,1.775,0,0,0,1.079,1.639,1.679,1.679,0,0,0,1.878-.392L334.976,188.9a1.811,1.811,0,0,0,.522-1.247,1.749,1.749,0,0,0-.522-1.247Z" transform="translate(-260.498 -112.669)" fill="#111"/>
                  </svg>
              </a>
              <ul class="dropdown-menu about-menu">
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
              </ul> 
              </li>
              {% endif %}
            {% else %}
              {% if item.url.getOption('attributes').link_type in 'mega_menu_1' %}
                <li class="element-div">
                <h3>{{ item.title }}</div>
                  <ul class="list-unstyled">
                    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                  </ul>
                </li>
                
              {% else %}
              <li  class="submenu-1">
                <a class="dropdown-item" href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
              </li>
              {% endif %}
            {% endif %}
          {% endfor %}
      {% endif %}
    {% elseif menu_level == 2 %}
        {% if items %}
          {% for item in items %}
            {% if item.below %}
            <li class="dropdown-item">
            
              <a href="{{ item.url }}" class="drop-toggle" title="{{ item.title }}">{{ item.title }}
              </a>
              <ul class="list-unstyled">
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
              </ul>
            </li>
            {% else %}
            {% if item.url.getOption('attributes').link_type in 'mega_menu_2' %}
              <li><a class="dropdown-item" href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
            {% else %}
              <li class="submenu-2"><a class="dropdown-item" href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
            {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
    {% elseif menu_level == 3 %}
        {% if items %}
          {% for item in items %}
            <li class="dropdown-menu">
              <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        {% endif %}
    {% endif %}
{% endmacro %}