{% set base_url = url('<front>')  %}
<!-- Register Page banner -->
{% if register_banner_title %}
     <section class="page-banner" style="background-image: url({{register_banner_img}}); background-repeat: no-repeat; background-size: cover;background-position: center;height:260px; position: relative;">
        <div class="page-title-block">
            <h1>{{register_banner_title}}</h1>
        </div>
    </section>
{% endif %}
<!-- Register Page -->
<section class="page-register page-login">
    <div class="container">
        <div class="page-form-block">
            <div class="form-wrapper" style="background-image: url('{{ register_bg_img }}');background-repeat: no-repeat;background-position: center;background-size: cover;">
                <div class="content-wrapper">
                    <h2 class="page_title">{{ register_title }}</h2>
                    <div class="form common_pages_form">
                        <div class="form-group">
                            {{ form.account.mail }}
                        </div>
                        <div class="form-group registerName">
                            {{ form.account.name }}
                        </div>  
                        <p>Several special characters are allowed, including space, period (.), hyphen (-), apostrophe ('),
underscore (_), and the @ sign.</p>
                        <div class="sign-up-btn login-btn">
                            {{ form.actions }}
                        </div>
                        <div class="commen_page_link-wrapper">
                            <h4>Already have an account? <a href="{{base_url}}user/login" title="Login">Login</a></h4>
                        </div>
                        {{ form.form_build_id }}
                        {{ form.form_id }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>