<div class="offer-style">
    <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{file_url(content.field_image['#items'].alt)}}"/>
    {# <div class="discount">
        {{content.field_offers_1.0}}
    </div> #}
    {# <div class="offer-content">
        {{content.field_description.0}}
        <a href="{{content.field_button_link.0['#url']}}">{{content.field_button_link.0['#title']}}</a>    
    </div> #}
</div>