<div class="offer-detail">
    <div class="picture">
        <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{file_url(content.field_image['#items'].alt)}}"/>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>{{content.field_title.0}}</h3>
            {{content.field_description.0}}
            <div class="btn-link btn-links">
                <a href="{{content.field_button_link.0['#url']}}" tabindex="-1">{{content.field_button_link.0['#title']}}</a>
            </div>
        </div>
        <div class="col-md-5">
            <h3>{{content.field_package_title.0}}</h3>
            <ul class="packages list-unstyled">
            {% for key,value in content.field_packages['#items'] %}
                <li>
                    <div class="offerListSvg">
                         <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
                            <circle id="Oval" cx="75" cy="75" r="75" fill="#f9593a"/>
                        </svg>
                    </div>
                    <p>{{content.field_packages[key]}}</p>
                </li>
            {% endfor %}    
            </ul>
        </div>
    </div>
</div>
