{# <div class="col-md-3">
    <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{file_url(content.field_image['#items'].alt)}}">
</div>
<div class="col-md-6">
    <h3>{{ content.field_title.0 }}</h3>
    {{ content.field_description.0 }}
</div>
<div class="col-md-3">
    <button class="btn btn-primary">{{ content.field_price.0 }}</button>
</div> #}

<div class="menu-grid-1">
    <div class="menu-grid-1-wrapper spa">
         <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{file_url(content.field_image['#items'].alt)}}">
        <div class="menu-grid-detail">
            <h3>{{ content.field_title.0 }}</h3>
            {{ content.field_description.0 }}
        </div>
        <div class="menu-price">
            <p>{{ content.field_price.0 }}</p>
        </div>
    </div>
</div>
