{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<section class="footer-form">
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
    <div class="footer-subscribe">
      {# <div class="col-md-5"> #}
        <h2{{ title_attributes }} class="subscribe-title">{{ label }}</h2>
      {# </div>      #}
      {% endif %}
      {{ title_suffix }}
      {% block content %}
        {# <div class="col-md-7"> #}
          <div{{ content_attributes.addClass('content') }}>
            {{ content }}
          </div>
        {# </div> #}
      {% endblock %}
    </div>  
  </div>
  <hr>
</section>          